@use "../../../css/mixin.scss" as mixin;

.backgroundImage {
  z-index: 0;
  position: absolute;
  @include mixin.tablet {
    height: 900px;
  }
  @include mixin.desktop {
    height: 800px;
  }
  height: 1000px;
  width: 100%;
  opacity: 0.3;
  background-size: cover;
}
