@use "../../../css/mixin.scss" as mixin;

.attorneys {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .socialMediaLinks {
    display: flex;
    position: absolute;
    @include mixin.desktop {
      flex-direction: row;
      top: -50px;
      left: 30px;
    }
    flex-direction: column;
    top: -120px;
    left: 10px;
    gap: 5px;
    svg {
      color: white;
    }
  }
}
.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  @include mixin.tablet {
    background-size: cover;
  }
  opacity: 0.3;
  z-index: -1;
}
